In [1]:
# load package
# string 
import re

# math
import pandas as pd
import numpy as np
import scipy as sp
import random

# sys
import sys
import os
import time
import warnings

# machine learning
from sklearn import svm, tree, linear_model, neighbors, naive_bayes, ensemble, gaussian_process, discriminant_analysis
from xgboost import XGBClassifier

# model utils
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn import feature_selection 
from sklearn import model_selection
from sklearn import metrics

# plot
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns
from pandas.tools.plotting import scatter_matrix #??
# = show plots in Jupyter Notebook browser
%matplotlib inline 
mpl.style.use('ggplot') #??
sns.set_style('white')
pylab.rcParams['figure.figsize'] = 12,8 #??

# show all columns
from IPython.display import display
pd.options.display.max_columns = None

# self define
sys.path.append('../../utils/')

In [2]:
# read files
lb_wsp_2014 = pd.read_csv('../data/Autohaus_weeber/leonberg_werkstattposten_2014.csv', sep = ';')
lb_wsp_2015 = pd.read_csv('../data/Autohaus_weeber/leonberg_werkstattposten_2015.csv', sep = ';')
lb_wsp_2016 = pd.read_csv('../data/Autohaus_weeber/leonberg_werkstattposten_2016.csv', sep = ';')
lb_wsp_2017 = pd.read_csv('../data/Autohaus_weeber/leonberg_werkstattposten_2017.csv', sep = ';')
lb_wsp_2018 = pd.read_csv('../data/Autohaus_weeber/leonberg_werkstattposten_2018.csv', sep = ';')
std_wsp_2014 = pd.read_csv('../data/Autohaus_weeber/weil_der_stadt_werkstattposten_2014.csv', sep = ';')
std_wsp_2015 = pd.read_csv('../data/Autohaus_weeber/weil_der_stadt_werkstattposten_2015.csv', sep = ';')
std_wsp_2016 = pd.read_csv('../data/Autohaus_weeber/weil_der_stadt_werkstattposten_2016.csv', sep = ';')
std_wsp_2017 = pd.read_csv('../data/Autohaus_weeber/weil_der_stadt_werkstattposten_2017.csv', sep = ';')
std_wsp_2018 = pd.read_csv('../data/Autohaus_weeber/weil_der_stadt_werkstattposten_2018.csv', sep = ';')
# cat
d1 = lb_wsp_2014.copy()
d2 = lb_wsp_2015.copy()
d3 = lb_wsp_2016.copy()
d4 = lb_wsp_2017.copy()
d5 = lb_wsp_2018.copy()
data1 = pd.concat([d1,d2,d3,d4], 0)
d6 = std_wsp_2014.copy()
d7 = std_wsp_2015.copy()
d8 = std_wsp_2016.copy()
d9 = std_wsp_2017.copy()
d10 = std_wsp_2018.copy()
data2 = pd.concat([d6,d7,d8,d9,d10], 0)
data = pd.concat([data1, data2], 0)

/Users/ihuangyiran/anaconda2/envs/data_mining/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/ihuangyiran/anaconda2/envs/data_mining/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
df = lb_wsp_2014[['Auftragsnummer', 'Beschreibung', 'Fahrgestellnummer']]

In [15]:
# bs operate and transfer
# operate
from pattern.de import parse, conjugate, singularize, pluralize

def bs_operate(li):
    """
    input string:
        'describe' attribute 
    """
    # to string
    li = str(li).lower()
    # recover: problem with '.' in string
    #dict_re = {'ae': 'ä', 'oe': 'ö', 'ue': 'ü', 'ß': 'ss', 'u.': 'und ', 'fzg': 'fahrzeug', ' f ': ' für '}
    dict_re = {'ae': 'ä', 'oe': 'ö', 'ue': 'ü', 'ß': 'ss', 'fzg': 'fahrzeug', ' f ': ' '}
    for i, j in dict_re.items():
        if i in li:
            li = re.sub(i, j, li)
    #print(li,0)
    # replace punctuation with ' '
    li = re.sub("[\s+\.\!_,$%^*(+\"\')-:]", " ", li)
    #print(li,1)
    # remove the number in the string
    li = re.sub('\d', '', li)
    #print(li,2)
    # remove word with one ziffer
    li = re.sub(' [a-zA-Z] ', "", li)
    #print(li,3)
    # plural to odd
    words = li.strip().split(' ')
    #words_sin = [pluralize(word.strip()) if len(word) > 0 and parse(word).split('/')[1] == 'NN' and parse(word).split('/')[1] != 'IN' else word.strip() for word in words]
    words_sin = [pluralize(word.strip()) if len(word) > 0 and parse(word).split('/')[1] != 'IN' else word.strip() for word in words]
    li = ' '.join(words_sin)
    #print(li,4)
    # upper
    li = li.upper()
    #print(li,5)
    return li

# 给的数据的每一行都是一个维修项，初衷是，把属于同一个auftrag的维修项合并到一起，看一下，在同一个Auftrag中，经常一起修的是那些内容

def toAuftragTable(df, att, auftn, clean = True):
    """
    input:
        df, DataFrame:
            the dataframe
        att, string:
            the column name of the target attribute
        auftn, string:
            the column name of the aftragsnummer attribute
    output:
        df_g, DataFrame:
            dataframe contrains two columns auftn and att
            type of item in att is string, separate with ';'
    """
    # assert: make sure the type of the attributes inputted
    
    # extract the att and date columns
    df = df[[att, auftn]]
    # if clean is True, drop the fake data, like the null data
    if clean:
        print("Null date exist, drop these dates directly")
        df = df.drop(df[df[att].isnull()].index)
        df = df.drop(df[df[auftn].isnull()].index)
    # group and sum 
    df_g = df.groupby([auftn], as_index = False).apply(agg)
    return df_g

# apply 只能对单行进行处理，而不是对整个分组进行处理，所以估计应该把axis换成1，比较好
def agg(x):
    # 是否用‘ ’分隔会比较好，这样就不用对初始的属性，
    #x = x.apply(lambda x: ';'.join(set(x)), axis = 0)
    x = x.apply(lambda x: ' '.join(set(x)), axis = 0)
    #print(x.columns.values)
    return x

In [10]:
df['Beschreibung2'] = df['Beschreibung'].map(bs_operate)

/Users/ihuangyiran/anaconda2/envs/data_mining/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [82]:
df_new = toAuftragTable(df, 'Beschreibung2', 'Auftragsnummer', clean = True)

Null date exist, drop these dates directly

In [83]:
# merge the data to df_new
df_ori= lb_wsp_2014[['Auftragsnummer', 'KM-Stand', 'Auftragsdatum', 'Markencode', 'Adressanredecode', 'Fahrgestellnummer', 'Motorcode', 'Fahrzeugmodellnummer', 'Modell', 'Typ', 'Getriebecode']].drop_duplicates()

In [84]:
tmp = df_new.copy()
tmp = pd.merge(tmp, df_ori, how = 'left', on = 'Auftragsnummer')

In [85]:
tmp = tmp.sort_values(by = 'Auftragsnummer', ascending=False)

In [86]:
df_new = tmp.reset_index().drop('index', axis = 1)

In [129]:
df_new[df_new['Beschreibung2'].map(lambda x: ('SCHRAUB' in str(x)) and ('LACK' in str(x)))].count()

Beschreibung2           308
Auftragsnummer          308
KM-Stand                308
Auftragsdatum           308
Markencode              307
Adressanredecode        305
Fahrgestellnummer       308
Motorcode               301
Fahrzeugmodellnummer    307
Modell                  306
Typ                     206
Getriebecode            299
dtype: int64

In [131]:
df_new[df_new['Beschreibung2'].map(lambda x: ('LACK' in str(x)))].count()

Beschreibung2           1435
Auftragsnummer          1435
KM-Stand                1435
Auftragsdatum           1435
Markencode              1425
Adressanredecode        1403
Fahrgestellnummer       1431
Motorcode               1403
Fahrzeugmodellnummer    1425
Modell                  1422
Typ                      912
Getriebecode            1391
dtype: int64

In [132]:
305/1435

0.21254355400696864

- 可以看到有些车（Fahrgestellnummer）重复出现了13次。 这些重复出现的数据，可以计算他们的频率，从而计算出他们下次出现的时候
- 另外一种方法是，通过计算前后两次出现的时候KM-stand的改变，从而通过km_stand的状况来提出，维修请求

In [96]:
df_new[['Auftragsnummer', 'Beschreibung2']].head()

  Auftragsnummer                                      Beschreibung2
0     WSAU330854  SCHALTHEBEL AM GETRIEBE AUS EINGEBAUTE GETRIEB...
1     WSAU256082  BELEUCHTUNGSE CHECKE DURCHGEFÜHRTEN RÄDER AUS ...
2     WSAU236371  SELBSTBETEILIGUNGEN AUF DIEN ENTSCHÄDIGUNGSSUMMEN
3     WSAU229930                                STANDGELDKOSTEN VOM
4     WSAU229914                       PROVISIONEN LREN KENNZEICHEN

In [97]:
df_new.describe()

,Beschreibung2,Auftragsnummer,KM-Stand,Auftragsdatum,Markencode,Adressanredecode,Fahrgestellnummer,Motorcode,Fahrzeugmodellnummer,Modell,Typ,Getriebecode
count,21631,21631,21628,21631,21195,21121,21241,20900,21193,21149,14410,20830
unique,15115,21630,15489,317,19,12,10194,579,2676,2824,54,1396
top,ZULASSUNGEN ABMELDUNGEN GWE LREN GEBÜHRE,77KW,"15,00",11.11.2014,VW,Firma,TMBJJ7NE6D0034366,CFFB,36535Y,Passat Variant Comfortline BM,X0A,LHW
freq,279,2,909,158,11119,9024,13,1388,309,337,12768,313

In [126]:
tmp = lb_wsp_2014[['Auftragsdatum', 'Fahrgestellnummer', 'KM-Stand', 'Beschreibung']].drop_duplicates()

In [127]:
tmp.sort_values(by = 'Auftragsdatum')

,Auftragsdatum,Fahrgestellnummer,KM-Stand,Beschreibung
14067,0,NaN,NaN,"0,00"
235649,01.01.1753,WV1ZZZ7HZ8H024400,"0,00",SCHALTHEBE
235642,01.01.1753,WV1ZZZ7HZ8H024400,"0,00",BELEUCHTUNGS-CHECK .
235643,01.01.1753,WV1ZZZ7HZ8H024400,"0,00",FLÜSSIGKEITSSTÄNDE GEPRÜFT
235644,01.01.1753,WV1ZZZ7HZ8H024400,"0,00",SCHALTHEBEL AM GETRIEBE AUS- U.EINGEBAUT
235650,01.01.1753,WV1ZZZ7HZ8H024400,"0,00",SCHALTUNG
235646,01.01.1753,WV1ZZZ7HZ8H024400,"0,00",GETRIEBETRÄGER AUS- U.EINGEBAUT
235647,01.01.1753,WV1ZZZ7HZ8H024400,"0,00",SCHRAUBE
235648,01.01.1753,WV1ZZZ7HZ8H024400,"0,00",BUNDMUTTER
235645,01.01.1753,WV1ZZZ7HZ8H024400,"0,00",SCHALTWELLE AUS- U.EINGEBAUT
19490,01.02.2014,WAUZZZ8X0CB031399,"24292,00",GEBLAESE
19489,01.02.2014,WAUZZZ8X0CB031399,"24292,00",Gebläsemotor aus- u.eingebaut
19488,01.02.2014,WAUZZZ8X0CB031399,"24292,00",Handschuhkasten aus- u.eingebaut
19487,01.02.2014,WAUZZZ8X0CB031399,"24292,00",GFS/Geführte Funktion .
19486,01.02.2014,WVWZZZ7NZBV031839,"76683,00",KUEHLZUSAT
19481,01.02.2014,WVWZZZ7NZBV031839,"76683,00",STUTZEN
19477,01.02.2014,WVWZZZ7NZBV031839,"76683,00",DICHTRING
19472,01.02.2014,WVWZZZ7NZBV031839,"76683,00",KLEMMSCHEL
19469,01.02.2014,WVWZZZ7NZBV031839,"76683,00",BUNDMUTTER
19466,01.02.2014,WVWZZZ7NZBV031839,"76683,00",SCHELLE
19491,01.02.2014,WAUZZZ8X0CB031399,"24292,00",2 Fensterführungen nacharbeiten
19462,01.02.2014,WVWZZZ7NZBV031839,"76683,00",MUTTER
19459,01.02.2014,WVWZZZ7NZBV031839,"76683,00",SCHRAUBE
19458,01.02.2014,WVWZZZ7NZBV031839,"76683,00",DICHTUNG
19457,01.02.2014,WVWZZZ7NZBV031839,"76683,00",ROHR
19452,01.02.2014,WVWZZZ7NZBV031839,"76683,00",GLUEHLAMPE
19450,01.02.2014,WVWZZZ7NZBV031839,"76683,00",KÜHLMITTELZUSATZ G13
19449,01.02.2014,WVWZZZ7NZBV031839,"76683,00",Glühlampe f Kennzeichenleuchte aus- u. rechts
19448,01.02.2014,WVWZZZ7NZBV031839,"76683,00",Batterie geladen
19467,01.02.2014,WVWZZZ7NZBV031839,"76683,00",KUEHLER
...,...,...,...,...
196856,31.10.2014,WVWZZZ3CZEE054877,"59193,00",Anfragenummer 1411263611-01
196876,31.10.2014,WVWZZZ3CZEE054877,"59193,00",OEL
196873,31.10.2014,WVWZZZ3CZEE054877,"59193,00",SCHRAUBE
196858,31.10.2014,WVWZZZ3CZEE054877,"59193,00",Inspektion mit Ölwechsel (flexibel) .
196859,31.10.2014,WVWZZZ3CZEE054877,"59193,00",Getriebeöl ersetzt
196860,31.10.2014,WVWZZZ3CZEE054877,"59193,00",Erweiterter Inspektionsumfang .
196861,31.10.2014,WVWZZZ3CZEE054877,"59193,00",GFS/Getriebeölwechsel durchf.
196862,31.10.2014,WVWZZZ3CZEE054877,"59193,00",Beleuchtungsaktion ohne Aufkleber.
196863,31.10.2014,WVWZZZ3CZEE054877,"59193,00","Fahrzeugwäsche im Wert von 9,00"
196864,31.10.2014,WVWZZZ3CZEE054877,"59193,00",2 Wischerblatt aus- u.eingebaut
196875,31.10.2014,WVWZZZ3CZEE054877,"59193,00",FILTEREINS
193584,31.10.2014,WAUZZZ8KXDA035987,"85011,00",Audi CarCheck Winter
196872,31.10.2014,WVWZZZ3CZEE054877,"59193,00",LONGLIFE III 5W30
196870,31.10.2014,WVWZZZ3CZEE054877,"59193,00",WISCHBLATT
196869,31.10.2014,WVWZZZ3CZEE054877,"59193,00",STAUBFILT.
196868,31.10.2014,WVWZZZ3CZEE054877,"59193,00",4 RÄDER AUS- UND EINGEBAUT
196867,31.10.2014,WVWZZZ3CZEE054877,"59193,00",Anfragenummer 1411263777-01
196866,31.10.2014,WVWZZZ3CZEE054877,"59193,00",Wischerblatt f RWA aus- u.eingebaut
196865,31.10.2014,WVWZZZ3CZEE054877,"59193,00",DIALOGANNAHME DURCHGEFÜHRT .
235605,31.12.2014,WVGZZZ1TZFW033535,"0,00",LRA/KENNZEICHEN
235597,31.12.2014,NaN,"0,00",Provision GK VW
235598,31.12.2014,NaN,"0,00",Provision GK NFZ
235599,31.12.2014,NaN,"0,00",Provision GK Audi
235600,31.12.2014,WVWZZZ6RZFU016612,"0,00",Provoision
235601,31.12.2014,WVWZZZ6RZFU016612,"0,00",LRA/KENNZEICHEN
235607,31.12.2014,WVGZZZ5NZFW559849,"0,00",LRA/KENNZEICHEN
235603,31.12.2014,WVWZZZAUZFW556503,"15,00",LRA/KENNZEICHEN
235604,31.12.2014,WVGZZZ1TZFW033535,"0,00",Provision
235606,31.12.2014,WVGZZZ5NZFW559849,"0,00",Provision
235602,31.12.2014,WVWZZZAUZFW556503,"15,00",Provision

In [105]:
tmp.describe()

       Auftragsdatum  Fahrgestellnummer KM-Stand
count          19806              19610    19805
unique           317              10194    15489
top       11.11.2014  TMBJJ7NE6D0034366    15,00
freq             147                 13      898

In [124]:
tmp1 = tmp[tmp['Fahrgestellnummer'] == 'TMBJJ7NE6D0034366']

In [125]:
tmp1

       Auftragsdatum  Fahrgestellnummer  KM-Stand count
25423     10.02.2014  TMBJJ7NE6D0034366  18520,00     1
45562     13.03.2014  TMBJJ7NE6D0034366  21332,00     1
62259     07.04.2014  TMBJJ7NE6D0034366  25358,00     1
64253     09.04.2014  TMBJJ7NE6D0034366  25467,00     1
88541     20.05.2014  TMBJJ7NE6D0034366  26042,00     1
88585     20.05.2014  TMBJJ7NE6D0034366  25358,00     1
97164     27.05.2014  TMBJJ7NE6D0034366  25358,00     1
99066     02.06.2014  TMBJJ7NE6D0034366  29865,00     1
127896    14.07.2014  TMBJJ7NE6D0034366  32431,00     1
127925    21.07.2014  TMBJJ7NE6D0034366  29865,00     1
140526    01.08.2014  TMBJJ7NE6D0034366  32431,00     1
144827    08.08.2014  TMBJJ7NE6D0034366  34604,00     1
192279    24.10.2014  TMBJJ7NE6D0034366  40340,00     1

In [108]:
def to_count_table(df, cols):
    df['count'] = '1'
    df = df[[cols[0], 'count']]
    return df.groupby(cols[0], as_index = False).count().sort_values(by = 'count', ascending = False)

In [109]:
to_count_table(tmp, ['Fahrgestellnummer'])

       Fahrgestellnummer  count
939    TMBJJ7NE6D0034366     13
2983   WAUZZZ8K6DA013386     10
8540   WVWZZZ3CZDE514391     10
1918   WAUZZZ4G1DN090225     10
9369   WVWZZZ7NZBV031839     10
9201   WVWZZZ6RZDY058325     10
8291   WVWZZZ3CZCE057210     10
1134   TMBKT61Z4C2187428      9
1883   WAUZZZ4G0DN045809      9
6147   WVGZZZ7PZBD037551      9
2506   WAUZZZ8F3CN010715      9
2088   WAUZZZ4G7DN071887      9
8145   WVWZZZ3CZAE199714      9
9408   WVWZZZ7NZCV044102      9
1728   WAUZZZ4F37N050692      9
70     TMBBD65J293184824      8
2164   WAUZZZ4G9DN038017      8
868    TMBJG7NE7E0030603      8
2040   WAUZZZ4G5DN033929      8
665    TMBJB93T8E9026695      8
3939   WAUZZZ8T4CA033188      8
2621   WAUZZZ8K0DA246759      8
4228   WAUZZZ8V7DA036931      8
3514   WAUZZZ8P6BA019827      8
2138   WAUZZZ4G8EN073729      8
590    TMBHT61Z2C2096376      8
8411   WVWZZZ3CZDE002397      8
451    TMBHE61Z1C2116210      8
5678   WVGZZZ1TZCW036671      8
9361   WVWZZZ7NZBV022209      8
...                  ...    ...
4713   WV1ZZZ7HZ7H030536      1
4712   WV1ZZZ7HZ7H030327      1
4708   WV1ZZZ7HZ7H011976      1
4748   WV1ZZZ7HZAH249000      1
4750   WV1ZZZ7HZAH251185      1
4801   WV1ZZZ7HZCH081175      1
4776   WV1ZZZ7HZBH075637      1
4800   WV1ZZZ7HZCH080918      1
4799   WV1ZZZ7HZCH079697      1
4796   WV1ZZZ7HZCH054677      1
4795   WV1ZZZ7HZCH051521      1
4794   WV1ZZZ7HZCH035803      1
4791   WV1ZZZ7HZCH015188      1
4786   WV1ZZZ7HZCH007951      1
4783   WV1ZZZ7HZBH142802      1
4782   WV1ZZZ7HZBH137586      1
4778   WV1ZZZ7HZBH108316      1
4775   WV1ZZZ7HZBH073318      1
4751   WV1ZZZ7HZAH257899      1
4774   WV1ZZZ7HZBH069520      1
4773   WV1ZZZ7HZBH068476      1
4772   WV1ZZZ7HZBH067310      1
4771   WV1ZZZ7HZBH066670      1
4769   WV1ZZZ7HZBH043684      1
4767   WV1ZZZ7HZBH040386      1
4765   WV1ZZZ7HZBH026432      1
4764   WV1ZZZ7HZBH025289      1
4762   WV1ZZZ7HZBH020545      1
4760   WV1ZZZ7HZBH003343      1
10193  WVWZZZAUZFW558736      1

[10194 rows x 2 columns]